<html>
	<head>
		<title>Welcome To Pritesh Webserver</title>
	</head>
	<body>
	<h1>Nginx, configured with TLS using Ansible</h1>
	<p>Hello Friends</p>

	<p>Running on {{ inventory_hostname }}</p>
	</body>
</html>